@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
    --background-color: #FFE493;
    --navbar-text-color: #000000;
    --navbar-color: #FFF5F5;
    --navbar-border: #000000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(image/empadas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img, video {
    max-width: 100%;
    height: auto;
}

/* NAVBAR */
.navbar-container {
    width: 100%;
    max-width: 93.9375rem;
    height: auto;
    border-radius: 0.5625rem;
    background-color: var(--navbar-color);
    border: 0.0625rem solid var(--navbar-border);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.625rem;
    position: relative;
}

.navbar-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-container ul li {
    margin: 0.5rem 0;
}

.navbar-container ul li a {
    text-decoration: none;
    color: var(--navbar-text-color);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}

.navbar-container ul li a:hover {
    color: var(--background-color);
}

/* Bem-vindo */
.welcome-to {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.welcome-text {
    font-family: 'Cookie', regular;
    font-size: 5rem;
    color: #FFFFFF;
    text-shadow: -0.0625rem -0.0625rem 0 #000, 0.0625rem -0.0625rem 0 #000, -0.0625rem 0.0625rem 0 #000, 0.0625rem 0.0625rem 0 #000;
    line-height: 3rem;
}

@media (max-width: 768px) {
    .welcome-text {
        font-size: 3rem;
        line-height: 2rem;
    }
}

/* Pac-Man */
.pacman-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 72rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.pacman-image {
    height: 3rem;
    margin-bottom: 1rem;
}

.pacman-text {
    font-family: 'Coustard', serif;
    font-size: 2.5rem;
    color: #FFCA1D;
    -webkit-text-stroke: 0.125rem #000000;
}

@media (max-width: 768px) {
    .pacman-text {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url(image/empadas-pequeno.jpg);
    }
}
